<button class="iconMenu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </button>
  <button mat-menu-item routerLink="/materias">
    <mat-icon>draw_abstract</mat-icon>
    <span>Materias</span>
  </button>
  <!-- <button mat-menu-item disabled> -->
  <button mat-menu-item routerLink="/usuarios">
    <mat-icon>pest_control_rodent</mat-icon>
    <span>Usuarios</span>
  </button>
  <button mat-menu-item routerLink="/inscripciones">
    <mat-icon>rocket_launch</mat-icon>
    <span>Inscripciones</span>
  </button>
</mat-menu>