<!-- <p>user-component works!</p>
<li *ngFor="let s of student">estudiante: {{s.name}}-{{s.lastname}}</li> -->
<table mat-table [dataSource]="student" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let student">{{ student.id }}</td>
  </ng-container>
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let student">{{ student.name }}</td>
  </ng-container>
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef>Apellidos</th>
    <td mat-cell *matCellDef="let student">{{ student.lastname }}</td>
  </ng-container>
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Edad</th>
    <td mat-cell *matCellDef="let student">{{ student.age }}</td>
  </ng-container>
  <ng-container matColumnDef="semester">
    <th mat-header-cell *matHeaderCellDef>Semestre</th>
    <td mat-cell *matCellDef="let student">{{ student.semester }}</td>
  </ng-container>
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Activo</th>
    <td mat-cell *matCellDef="let student">{{ student.active}}</td>
  </ng-container>
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef>Cursos</th>
    <td mat-cell *matCellDef="let student">
      <p *ngFor="let curso of student.course">
        <strong>{{curso}}</strong>
      </p>
    </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Editar</th>
    <td mat-cell *matCellDef="let student">
      <button mat-icon-button routerLink="modificar">
        <mat-icon class="iconEdit" aria-hidden="false" aria-label="Example home icon" >edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Eliminar</th>
    <td mat-cell *matCellDef="let student">
      <button mat-icon-button routerLink="borrar">
        <mat-icon class="iconDelete" aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<router-outlet></router-outlet>